{% extends 'base.html.twig' %}

{% block body %}
    <h1>Clientes</h1>

    <table>
        <tbody>
            <tr>
                <th>Cpf</th>
                <td>{{ cliente.cpf }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ cliente.nome }}</td>
            </tr>
            <tr>
                <th>Telefone</th>
                <td>{{ cliente.telefone }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('clientes_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('clientes_edit', { 'id': cliente.cpf }) }}">Edit</a>
        </li>
        <li>

        </li>
    </ul>
{% endblock %}
